body {
    background: rgb(41, 38, 38);
    display: flex;
    justify-content: center;
}

.main {
    height: 100vh;
    width: 135vh;
    margin: 50px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    border-radius: 30px;
}

.header {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
 
}

.circle1 {
    background: rgb(41, 38, 38);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 15px;
}

.circle2 {
    background: rgb(41, 38, 38);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 20px;
}

.location-logo {
    width: 15px; 
    height: 15px;

}

.location-text { 
    margin-left: 5px; 
    margin-right: 60px;
}

.search {
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    width: 280px;
    height: 30px;
    margin-right: 10px;
}

.form_field input,
::placeholder {
    background: rgb(41, 38, 38);
    color: white;
    
}

.submit {
    margin-right: 120px;
    border-radius: 10px;
}
.combo-one{
    position: absolute;
    right: 60px; 
}
.combo {
    position: absolute;
    right: 20px;
    display: flex;
}


.settings-div{
    background: rgb(41, 38, 38);
    height: 25px;
    width: 60px;
    border-radius: 30px;
}


.circle3 {
    background: rgba(160, 191, 201, 0.993);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
    z-index: 999;
    
}

.circle4 {
    background: rgb(247, 240, 150);
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.header-two {
    position: relative;
    display: flex;
    align-items: center;
} 

.day {
    margin-right: 20px;
}

.seven-day {
    margin-right: 29rem;
}

.forecast {
    position: absolute;
    right: 310px;
    background: rgba(160, 191, 201, 0.993);
    height: 25px;
    width: 80px;
    border-radius: 30px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.air-quality {
    position: absolute;
    right: 245px;  
    background: rgb(41, 38, 38);
    height: 25px;
    width: 80px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 10px;
}

.seven-div {
    display: flex;
    align-items: center;
}

.monday {
    position: relative;
    background: rgba(160, 191, 201, 0.993);
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 5px;
}

.tuesday {
    position: relative;
    background: rgb(41, 38, 38);
    height: 200px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.wednessday {
    position: relative;
    background: rgb(41, 38, 38);
    height: 200px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.thursday {
    position: relative;
    background:rgb(41, 38, 38);
    height: 200px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.friday {
    position: relative;
    background: rgb(41, 38, 38);
    height: 200px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.saturday {
    position: relative;
    background: rgb(41, 38, 38);
    height: 200px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.sunday {
    position: relative;
    background: rgb(41, 38, 38);
    height: 200px;
    width: 60px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    margin-right: 25px;
}


.mond {
    margin-left: 10px;
}

#time {
    position: absolute;
    top: 0;
    right: 10px;
}

hr {
    position: absolute;
    top: 36px;
    left: 5px;
    width: 80%;
    opacity: 0.3;
}

.both-rendering {
    display: flex;
   justify-content: space-between;
    
}

.temperature {
    font-size: 40px;
}

.first-render {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    margin-left: 10px;
}

.second-render {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 10px;
}

.m_clouds {
    position: absolute;
    right: 20px;
    width: 80px;
    height: 80px;
}

.t_clouds {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

.w_clouds {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

.th_clouds {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

.f_clouds {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

.s_clouds {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}

.su_clouds {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
}


.header-three {
    display: flex;
    align-items: center;
}

.global-map {
    margin-right: 220px;
}

.view-wide {
    background: rgb(41, 38, 38);
    height: 25px;
    width: 89px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.large-cities {
    margin-right: 25px;
}

.show-all {
    margin-right: 5px;
    cursor: pointer;
}

.last-line {
    display: flex;
    align-items: center;
}

.map {
    background: rgb(41, 38, 38);
    height: 250px;
    width: 630px;
    border-radius: 20px;
    margin-right: 20px;
}

#mapimg {
    height: 250px;
    width: 630px;
    border-radius: 20px;
    margin-right: 20px;
}

.inner-divs {
  display: flex;
  flex-direction: column;
}

.one {
    position: relative;
    background: rgb(41, 38, 38);
    height: 75px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.two {
    position: relative;
    background: rgb(41, 38, 38);
    height: 75px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.three {
    position: relative;
    background: rgb(41, 38, 38);
    height: 75px;
    width: 200px;
    border-radius: 20px;
   
}

.three-divs-h6 {
    position: absolute;
    text-indent: 15px;
   bottom: 30px;
}
#Us {
    position: absolute;
    bottom: 30px;
    text-indent: 15px; 
}

#California {
    position: absolute;
    bottom: 8px;
    text-indent: 15px;
}


#Mostly-Sunny {
    position: absolute;
    top: 25px;
    text-indent: 15px; 
}

#china {
    position: absolute;
    bottom: 30px;
    text-indent: 15px; 
}


#beijing {
    position: absolute;
    bottom: 8px;
    text-indent: 15px;
}

#cloudy {
    position: absolute;
    top: 25px;
    text-indent: 15px;
}

#israel {
    position: absolute;
    bottom: 30px;
    text-indent: 15px;
}

#Jerusalem {
    position: absolute;
    bottom: 8px;
    text-indent: 15px; 
}

#Sunny {
    position: absolute;
    top: 25px;
    text-indent: 15px;
}

.us_clouds {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
}

.china_clouds {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
}

.israel_clouds {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
}

